/*
FOOTER
 */

footer{
    background-color: #484C4C;
    padding-top: 100px;
    padding-bottom: 50px;

    .container{
        .row{
            .left{
                color: #fff;
            }

            .right{

            }
        }
    }
}