/*
HEADER
 */

header{
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1011;

    @include transition(500ms);

    .container{
        margin-top: 40px;

        @include transition(500ms);

        .item{
            display: inline-block;

            &#logo{
                img{
                    width: 100px;
                    @include transition(500ms);
                }
            }

            &#expand-nav{
                #btn-nav-expand{
                    float: right;
                    margin-top: 60px;
                    margin-right: 30px;

                    @include transition(300ms);

                    span{
                        &.nav-icon{
                            width: 30px;
                            height: 5px;

                            background-color: $gray-dark;

                            display: block;

                            position: relative;

                            @include transition(300ms);

                            &:before, &:after{
                                content: '';
                                display:block;
                                width:30px;
                                height:5px;
                                background-color: $gray-dark;
                                position: absolute;

                                @include transition(300ms);
                            }

                            &:before {
                                margin-top:-10px;
                            }

                            &:after {
                                margin-top:10px;
                            }
                        }
                    }

                    &.active{
                        margin-right: 15px;

                        @include transition(300ms);

                        span{
                            &.nav-icon{
                                background-color: transparent;

                                &:before {
                                    margin-top:0;
                                    transform:rotate(45deg);
                                }

                                &:after {
                                    margin-top:0;
                                    transform:rotate(-45deg);
                                }
                            }
                        }
                    }
                }
            }

            &#nav-main{
                ul{
                    list-style: none;

                    li{
                        display: inline-block;

                        padding: 0 20px;

                        a{
                            font-size: 1.125em;
                            font-weight: 400;
                            text-transform: uppercase;

                            color: $gray;

                            @include transition(500ms);

                            &:hover{
                                color: $gray-dark;
                            }
                        }
                    }
                }
            }
        }
    }

    &.active{
        background-color: rgba(255,255,255,0.75);

        @include transition(500ms);

        .container{
            margin-top: 10px;

            @include transition(500ms);

            .item{
                &#logo{
                    img{
                        width: 60px;
                        @include transition(500ms);
                    }
                }

                &#nav-main{
                    ul{
                        li{
                            a{
                                font-size: 0.875em;
                                @include transition(500ms);
                            }

                            .btn-primary{
                                padding: 5px 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}