/*
MAIN STYLE OF SITE

AUTHOR: hung.luong@matocreative.vn


 */

/*
MAIN SETUP
 */

*{
    -webkit-overflow-scrolling: touch;
}

body{
    background-color: #faffff;
}

.mask{
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

section{
    &.section{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &#cover{
        height: 100vh;

        padding-top: 0;
        padding-bottom: 0;

        .container-fluid{
            height: 100%;

            padding-left: 0;
            padding-right: 0;

            position: relative;

            #canvas{
                width: 50%;
                height: 100%;

                position: absolute;
                top: 0;
                left: 50%;
                z-index: 2;

                .mask{
                    width: 100%;
                    height: 100%;
                }
            }

            svg{
                width: 50%;
                height: 100%;

                position: absolute;
                top: 0;
                left: 50%;
                z-index: 3;
            }
        }

        .container{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 5;

            @include makeItCenter;

            h1{
                &.big-heading{
                    color: $primary;
                }
            }

            ul{
                list-style: none;

                padding-left: 0;
                margin-top: 70px;

                li{
                    font-size: 1.125em;
                    color: $gray;

                    background-image: url("../img/icon/check.png");
                    background-repeat: no-repeat;

                    background-position: 0 0;

                    padding-left: 45px;
                    padding-bottom: 30px;

                    line-height: 30px;
                }
            }

            .row{
                span.fa-stack{
                    i{
                        color: $primary;

                        &.fa-play{
                            -webkit-transform: translateX(2px);
                            -moz-transform: translateX(2px);
                            -ms-transform: translateX(2px);
                            -o-transform: translateX(2px);
                            transform: translateX(2px);
                        }
                    }
                }
            }
        }
    }

    &#about{
        background-color: #EDFBFB;

        .row{
            .item{
                .left{
                    float: left;

                    i{
                        color: $primary;

                        font-size: 4em;
                    }
                }

                .right{
                    float: left;

                    margin-left: 30px;

                    h1{
                        &.big-heading{
                            color: $primary;

                            margin-top: 0;
                        }
                    }

                    span{
                        font-size: 1.125em;
                    }
                }
            }
        }
    }

    &#benefit{
        .container{
            .row{
                &.head{
                    margin-bottom: 50px;

                    h1{
                        &.big-heading{
                            color: $primary;

                            margin-top: 0;
                        }
                    }
                }

                &.body{
                    .item{
                        margin-bottom: 30px;

                        img{
                            width: 70px;

                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }

    &#commitment{
        padding-top: 0;
        padding-bottom: 0;

        .container-fluid{
            position: relative;

            height: 100vh;

            .background{
                width: 50%;
                height: 100%;

                background-color: #EDFBFB;

                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            .container{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;

                @include makeItCenter;

                padding-top: 100px;
                padding-bottom: 100px;

                .row{
                    &.head{
                        margin-bottom: 50px;

                        h1{
                            &.big-heading{
                                color: $primary;
                            }
                        }
                    }

                    &.body{
                        .item{
                            .number{
                                position: relative;

                                .big-number{
                                    font-size: 8.75em;
                                    font-weight: 300;

                                    color: #C9F1EE;
                                }

                                .content{
                                    position: absolute;
                                    top: 100px;
                                    left: 80px;

                                    font-size: 1.125em;
                                    color: $gray-light;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &#highlight{
        .container{
            .row{
                .item{
                    height: 390px;

                    padding-left: 0;
                    padding-right: 0;

                    .inner{
                        padding: 15px;
                    }

                    &#cover{
                        @include background-gradient;

                        h1{
                            &.big-heading{
                                color: #fff;

                                line-height: 65px;
                            }
                        }
                    }

                    .mask{
                        width: 100%;
                        height: 100%;

                        position: relative;

                        img{
                            -webkit-transform: scale(1,1);
                            -moz-transform: scale(1,1);
                            -ms-transform: scale(1,1);
                            -o-transform: scale(1,1);
                            transform: scale(1,1);

                            -ms-filter: blur(0);
                            filter: blur(0);

                            @include transition(500ms);
                        }

                        .content{
                            position: absolute;
                            top: 30px;
                            left: 15px;

                            width: 360px;

                            h1{
                                &.big-heading{
                                    color: #fff;
                                    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
                                }
                            }

                            p{
                                &.paragraph{
                                    color: #fff;
                                    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
                                }
                            }
                        }

                        &:hover{
                            img{
                                -webkit-transform: scale(1.1,1.1);
                                -moz-transform: scale(1.1,1.1);
                                -ms-transform: scale(1.1,1.1);
                                -o-transform: scale(1.1,1.1);
                                transform: scale(1.1,1.1);

                                -ms-filter: blur(5px);
                                filter: blur(5px);

                                @include transition(500ms);
                            }
                        }
                    }
                }
            }
        }
    }

    &#hot-drink, &#tools{
        .container{
            .row{
                .left{
                    h1{
                        &.big-heading{
                            color: $primary;

                            margin-top: 0;
                        }
                    }
                }

                .right{
                    .owl-carousel{
                        .item{
                            background-color: #fff;

                            .mask{
                                width: 100%;
                                height: 195px;
                            }

                            .content{
                                padding: 15px;

                                p{
                                    &.paragraph{
                                        font-size: 1.5em;
                                    }
                                }
                            }
                        }

                        .owl-nav{
                            padding-top: 15px;

                            button{
                                padding: 5px 15px !important;
                                background-color: #ccc;

                                margin-right: 15px;

                                font-size: 1.5em;

                                &:first-of-type{
                                    margin-left: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &#content{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;

        height: 100vh;

        position: relative;

        .background{
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;

            @include background-gradient;

            opacity: 0.8;
        }

        .container{
            position: absolute;
            top: 50%;
            left: 50%;

            @include makeItCenter;

            .row{
                &.head{
                    h1{
                        &.big-heading{
                            color: #fff;
                        }
                    }

                    margin-bottom: 50px;
                }

                &.body{
                    .grid{
                        .grid-sizer, .grid-item{
                            width: 33%;
                        }

                        .grid-item{
                            float: left;

                            padding-left: 15px;
                            padding-right: 15px;

                            .inner{
                                border: 1px solid #fff;
                                padding: 15px;
                                margin-bottom: 30px;

                                h1{
                                    &.big-heading{
                                        color: #fff;
                                    }
                                }

                                p{
                                    &.paragraph{
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &#price{
        .container{
            .row{
                &.head{
                    color: $primary;
                    text-align: center;

                    margin-bottom: 30px;
                }

                &.body{
                    .left{
                        .mask{
                            width: 100%;
                            height: 400px;
                        }
                    }

                    .right{
                        table{
                            tr{
                                td{
                                    vertical-align: bottom;
                                    border-top: none;
                                    border-bottom: 1px solid #ddd;

                                    padding-top: 10px;
                                    padding-bottom: 10px;

                                    p{
                                        &.price{
                                            margin-bottom: -10px;
                                        }
                                    }
                                }

                                &:last-of-type{
                                    td{
                                        border-bottom: none;
                                    }
                                }
                            }
                        }

                        a{
                            h1{
                                &.big-heading{
                                    color: $primary;
                                }
                            }

                            &:hover{
                                h1{
                                    &.big-heading{
                                        color: $primary-hover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &#register{
        background-color: #EDEDED;

        .container{
            .row{
                h1{
                    &.big-heading{
                        color: $primary;
                    }
                }

                .left{
                    ol{
                        padding-left: 0;

                        list-style: none;
                        counter-reset: item;

                        li{
                            counter-increment: item;

                            -webkit-border-radius: 7px;
                            -moz-border-radius: 7px;
                            border-radius: 7px;

                            border: 2px solid $primary;

                            padding: 15px 35px 15px 35px;
                            margin-bottom: 15px;

                            color: $primary;

                            font-weight: 500;

                            &:before{
                                margin-left: -1.2em;
                                content: counter(item);
                                color: $primary;
                                width: 1.2em;
                                text-align: center;
                                display: inline-block;
                            }

                            &:hover{
                                background-color: $primary;
                                color: #fff;

                                &:before{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }

                .right{
                    .form-horizontal{
                        .form-group{
                            margin-left: 0;
                            margin-right: 0;

                            .form-control{
                                border: none;
                                -webkit-box-shadow: none;
                                -moz-box-shadow: none;
                                box-shadow: none;
                                
                                background-color: transparent;
                                -webkit-border-radius: 0px;
                                -moz-border-radius: 0px;
                                border-radius: 0px;

                                border-bottom: 1px solid #999;
                            }
                            
                            textarea{
                                resize: none;
                            }

                            label{
                                color: $gray-light;
                            }
                        }
                    }
                }
            }
        }
    }
}

