/*
MAIN VARIABLES FOR SITE

AUTHOR: hung.luong@matocreative.vn


/*
========== VARIABLES ==========
 */

/*
Primary Color
 */

$primary: #55C2B9;
$primary-hover: #6BC2BB;

/*
Gray Tone
 */

$gray: #666;
$gray-dark: #333;
$gray-light: #999;

