/*
MAIN STYLE OF SITE

AUTHOR: hung.luong@matocreative.vn


 */

/*
VARIABLES
 */

$brand-primary: #EF4825;
$brand-hover: #F2AA1E;

@mixin brand-gradient{
    background: rgba(239,70,37,1);
    background: -moz-linear-gradient(-45deg, rgba(239,70,37,1) 0%, rgba(242,171,30,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(239,70,37,1)), color-stop(100%, rgba(242,171,30,1)));
    background: -webkit-linear-gradient(-45deg, rgba(239,70,37,1) 0%, rgba(242,171,30,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(239,70,37,1) 0%, rgba(242,171,30,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(239,70,37,1) 0%, rgba(242,171,30,1) 100%);
    background: linear-gradient(135deg, rgba(239,70,37,1) 0%, rgba(242,171,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4625', endColorstr='#f2ab1e', GradientType=1 );
}

$publish-primary: #54e9bf;
$publish-hover: #39d8a7;

@mixin publish-gradient{
    background: rgba(84,233,191,1);
    background: -moz-linear-gradient(-45deg, rgba(84,233,191,1) 0%, rgba(214,250,240,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(84,233,191,1)), color-stop(100%, rgba(214,250,240,1)));
    background: -webkit-linear-gradient(-45deg, rgba(84,233,191,1) 0%, rgba(214,250,240,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(84,233,191,1) 0%, rgba(214,250,240,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(84,233,191,1) 0%, rgba(214,250,240,1) 100%);
    background: linear-gradient(135deg, rgba(84,233,191,1) 0%, rgba(214,250,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54e9bf', endColorstr='#d6faf0', GradientType=1 );
}

$gray: #666;
$gray-dark: #333;
$gray-light: #999;

/*
FONT SETTINGS
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&subset=vietnamese');

h1{font-size:2.5em;}
h2{font-size:1.875em;}
h3{font-size:1.5em;}
h4{font-size:1.3em;}
p{font-size:1em;}

body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4{
    font-weight: 900;
}

/*
MAIN SETUP
 */

*{
    -webkit-overflow-scrolling: touch;
}

body, html{
    width: 100%;
    height: 100%;
}

/*
========== HEADER ==========
 */

header{
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;

    .navbar{

        &.navbar-default{
            background-color: transparent;
            border-color: transparent;

            a{
                color: #fff;

                font-size: 1.5em;
            }
        }

        .navbar-header{
            a.navbar-brand{
                img{
                    width: 100px;
                    margin-top: -10px;
                }
            }
        }

        .navbar-collapse{
            padding-top: 30px;
            padding-bottom: 15px;
        }
    }

    .background{
        width: 100%;
        height: 0;

        @include brand-gradient;

        position: absolute;
        top: 0;
        left: 0;
    }
}

/*
========== BODY ==========
 */

.main-content{
    section.cover{
        width: 100%;
        height: 100vh;
        position: relative;

        background-image: url("https://images.unsplash.com/photo-1514923995763-768e52f5af87?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1195040aa03e0b3d6d72c3b3cfda7660&auto=format&fit=crop&w=1867&q=80");
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;

        .overlay{
            width: 100%;
            height: 100%;
            @include brand-gradient; /* Set Background */
            opacity: 0.8;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 990;

        }

        .intro{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 999;

            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);

            color: #fff;

            h1{
                font-size: 4em;
                letter-spacing: 10px;
                text-transform: uppercase;
                line-height: 1.3;
            }

            .underline{
                width: 110px;
                height: 10px;

                background: #fff;

                margin-top: 40px;
            }

            .btn{
                margin-top: 50px;
                background-color: #fff;
                color: $brand-primary;
                border: none;

                padding: 10px 15px;

                font-size: 1.25em;
                text-transform: uppercase;
            }
        }

        .mask{
            widows: 100%;
            height: 100%;
            overflow: hidden;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 998;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    section.content{
        padding-top: 100px;
        padding-bottom: 50px;

        > .container{
            margin-top: 100px;
            margin-bottom: 100px;
        }

        .starter{
            .row{
                .item{
                    .mask{
                        width: 100%;
                        height: 500px;
                        overflow: hidden;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }


                    }

                    &:last-of-type{
                        position: relative;

                        .starter-title{
                            position: absolute;
                            bottom: 100px;
                            left: 80%;

                            h1{
                                font-size: 3.75em;
                                letter-spacing: 10px;
                                text-transform: uppercase;
                            }

                            .underline{
                                width: 110px;
                                height: 10px;

                                margin-top: 40px;
                            }
                        }
                    }
                }
            }
        }

        .intro{
            .row{
                .image{
                    .mask{
                        width: 100%;
                        overflow: hidden;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .text{
                    h3{
                        padding-left: 20%;
                        padding-right: 20%;
                        padding-top: 15px;

                        line-height: 2em;

                        color: $gray;
                    }
                }
            }
        }

        .break{
            width: 100%;
            height: 500px;

            position: relative;

            padding-left: 0;
            padding-right: 0;

            .wrapper{
                width: 100%;
                height: 100%;

                .container {
                    .row {
                        .left {
                            padding-top: 30px;

                            color: #fff;

                            h3 {
                                margin-bottom: 70px;
                            }

                            p {
                                margin-bottom: 40px;
                            }

                            .underline {
                                width: 110px;
                                height: 10px;
                                background: #fff;
                            }
                        }

                        .right{
                            .carousel-inner {
                                position: relative;
                                width: 100%;
                                min-height: 300px;

                                .item{
                                    width: 250px;
                                    height: 250px;
                                    overflow: hidden;

                                    margin: 0 auto;

                                    -webkit-border-radius: 50%;
                                    -moz-border-radius: 50%;
                                    border-radius: 50%;

                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }

                            .carousel-control {
                                &.right {
                                    right: 0;
                                    left: auto;
                                    background-image: none !important;
                                    background-repeat: repeat-x;
                                }
                                &.left {
                                    left: 0;
                                    right: auto;
                                    background-image: none !important;
                                    background-repeat: repeat-x;
                                }
                            }

                            #carousel-example-generic {
                                margin: 20px auto;
                                width: 100%;
                            }

                            .carousel-custom {
                                margin: 20px auto;
                                width: 400px;
                                .carousel-indicators {
                                    margin: 10px 0 0;
                                    overflow: auto;
                                    position: static;
                                    text-align: left;
                                    white-space: nowrap;
                                    width: 100%;
                                    overflow: hidden;
                                    li {
                                        background-color: transparent;
                                        -webkit-border-radius: 0;
                                        border-radius: 0;
                                        display: inline-block;
                                        height: auto;
                                        margin: 0 !important;
                                        width: auto;
                                        img {
                                            display: block;
                                            opacity: 0.5;
                                        }
                                        &.active img {
                                            opacity: 1;
                                        }
                                        &:hover img {
                                            opacity: 0.75;
                                        }
                                    }
                                }
                                .carousel-outer {
                                    position: relative;
                                }
                            }

                            .carousel-indicators li img {
                                height: 66px;
                                width: 52px;
                            }
                        }
                    }
                }
            }
        }

        .info{
            .heading{
                display: block;

                .sub-title{
                    font-size: 1em;
                    color: $gray-light;

                    text-transform: uppercase;
                }

                h2{

                }

                .underline{
                    width: 110px;
                    height: 10px;

                    margin-top: 40px;
                }
            }

            .row{
                margin-top: 50px;

                .item{
                    .icon{
                        width:130px;
                        height: 130px;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;

                        background-position: center center;
                        background-size: cover;

                        position: relative;

                        .wrapper{
                            width: 100%;
                            height: 100%;

                            position: absolute;
                            top: 0;
                            left: 0;

                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            border-radius: 50%;

                            opacity: 0.8;
                        }

                        img{
                            width: 65px;
                            height: 65px;

                            position: absolute;
                            top: 50%;
                            left: 50%;

                            -webkit-transform: translate(-50%, -50%);
                            -moz-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            -o-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                        }
                    }

                    .title{
                        margin-top: 30px;
                        margin-bottom: 15px;

                        text-transform: uppercase;
                        height: 3em;
                    }

                    .text{
                        color: $gray;

                        height: 4em;
                    }

                }

                .step{
                    .inner{
                        width: 80%;
                        margin-left: 10%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;

                        text-align: center;

                        color: #fff;

                        img{
                            width: 50px;
                        }

                        h4{
                            font-weight: 400;
                        }
                    }
                }
            }

            .advanced{

                padding: 50px 16.66%;

                .media{
                    color: #fff;

                    .media-left{
                        img{
                            width: 75px;
                        }
                    }
                }
            }
        }

        &#brand{
            .starter{
                .row{
                    .item{
                        &:last-of-type{
                            .starter-title{
                                h1{
                                    color: $brand-primary;
                                }

                                .underline{
                                    background: $brand-primary;
                                }
                            }
                        }
                    }
                }
            }

            .intro{
                .row{
                    .image{
                        .mask{
                            height: 500px;
                        }
                    }

                    .text{
                        h3{

                        }
                    }
                }
            }

            .break{
                background-image: url("https://images.unsplash.com/photo-1507650331828-88adf37b6efd?ixlib=rb-0.3.5&s=7f3b773f5604d7a546016ff1dc137335&auto=format&fit=crop&w=1567&q=80");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                background-attachment: fixed;

                .wrapper{
                    @include brand-gradient;
                    opacity: 0.8;

                    .container{
                        .row{
                            .left{

                                h3{

                                }

                                p{

                                }

                                .underline{

                                }
                            }

                            .right{

                            }
                        }
                    }
                }
            }

            .info{
                .heading{
                    h2{
                        color: $brand-primary;
                    }

                    .underline{
                        background: $brand-primary;
                    }
                }

                .row{
                    .item{
                        .icon{

                            background-image: url("https://images.unsplash.com/photo-1492107376256-4026437926cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1499ebb3d49c526949432a26b6499d37&auto=format&fit=crop&w=668&q=80");

                            .wrapper{
                                @include brand-gradient;
                                opacity: 0.8;
                            }
                        }

                        .title{
                            color: $brand-primary;
                        }
                    }

                    .step{
                        .inner{
                            padding-top: 30px;
                            @include brand-gradient;
                        }
                    }
                }

                .advanced{
                    @include brand-gradient;

                    .media{
                        color: #fff;

                        .media-left{
                            img{
                                width: 75px;
                            }
                        }
                    }
                }
            }
        }

        &#publisher{
            .starter{
                .row{
                    .item{
                        &:last-of-type{
                            .starter-title{
                                h1{
                                    color: $publish-primary;
                                }

                                .underline{
                                    background: $publish-primary;
                                }
                            }
                        }
                    }
                }
            }

            .intro{
                .row{
                    .image{
                        .mask{
                            height: 400px;

                            &:first-of-type{
                                position: relative;
                            }

                            &:last-of-type{
                                width: calc(100% - 30px);

                                position: absolute;
                                top: 30px;
                                left: 100%;
                            }
                        }
                    }

                    .text{
                        h3{
                            color: $publish-primary;
                        }

                        ul{
                            padding-left: 20%;
                            padding-right: 50px;

                            li{
                                font-size: 1.5em;

                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }

            .break {
                background-image: url("https://images.unsplash.com/photo-1517362467300-499a95b6d6ff?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=76e0af65019b752b4795f4e2ba2d3f95&auto=format&fit=crop&w=1632&q=80");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                background-attachment: fixed;

                .wrapper {
                    @include publish-gradient;
                    opacity: 0.95;

                    .container {
                        .row {
                            .left {

                                h3 {
                                    color: $gray-dark;
                                }

                                p {
                                    color: $gray-dark;
                                }

                                .underline {
                                    background-color: $gray-dark;
                                }
                            }
                        }
                    }
                }
            }

            .info{
                .heading{
                    h2{
                        color: $publish-primary;
                    }

                    .underline{
                        background: $publish-primary;
                    }
                }

                .row{
                    .item{
                        margin-bottom: 30px;

                        .icon{

                            background-image: url("https://images.unsplash.com/photo-1492107376256-4026437926cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1499ebb3d49c526949432a26b6499d37&auto=format&fit=crop&w=668&q=80");

                            .wrapper{
                                @include publish-gradient;
                                opacity: 0.8;
                            }
                        }

                        .title{
                            color: $publish-primary;
                        }
                    }

                    .step{
                        .inner{
                            width: 70%;
                            margin-left: 15%;
                            padding-top: 70px;
                            @include publish-gradient;
                        }
                    }
                }

                .advanced{
                    @include publish-gradient;

                    .media{
                        color: #fff;

                        .media-left{
                            img{
                                width: 75px;
                            }
                        }
                    }
                }
            }
        }

        &#about{
            .container-fluid{
                .row{
                    .text{
                        @include brand-gradient;

                        position: relative;

                        padding:150px 100px;

                        .starter-title{
                            h1{
                                font-size: 3em;
                                letter-spacing: 10px;
                                line-height: 1.5;
                                text-transform: uppercase;

                                color: #fff;
                            }

                            p{
                                font-size: 1.25em;
                                color: #fff;

                                margin-top: 40px;
                            }

                            .underline{
                                width: 110px;
                                height: 10px;

                                background-color: #fff;

                                margin-top: 40px;
                            }
                        }

                        .image{
                            width: 100%;
                            height: 100%;
                            overflow: hidden;

                            position: absolute;
                            top: 0;
                            left: 100%;
                        }
                    }
                }
            }
        }

        &#partners{
            padding-top: 30px;
            padding-bottom: 50px;

            .heading{
                display: block;
                margin-bottom: 50px;

                .sub-title{
                    font-size: 1em;
                    color: $gray;

                    text-transform: uppercase;
                }

                h2{
                    color: $brand-primary;
                }

                .underline{
                    width: 110px;
                    height: 10px;

                    margin-top: 40px;

                    background-color: $brand-primary;
                }
            }

            .row{
                .item{
                    margin-top: 15px;
                    margin-bottom: 15px;

                    .inner{
                        width: 100%;
                        border: 2px solid $brand-primary;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;

                        overflow: hidden;

                        position: relative;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }


                }
            }
        }
    }

    #contact{
        padding-top: 100px;
        padding-bottom: 50px;
        @include brand-gradient;

        .heading{
            display: block;
            margin-bottom: 50px;

            .sub-title{
                font-size: 1em;
                color: #fff;

                text-transform: uppercase;
            }

            h1{
                color: #fff;
                text-transform: uppercase;
            }

            .underline{
                width: 110px;
                height: 10px;

                margin-top: 40px;

                background-color: #fff;
            }
        }

        table{
            color: #fff;

            tr{
                td{
                    border-bottom: 1px solid #fff;
                    border-top: 1px solid #fff;

                    vertical-align: middle;

                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
}

/*
========== FOOTER ==========
 */

/*
IMPORT STYLES
 */

@import "responsive";