/*
MAIN STYLE OF SITE

AUTHOR: hung.luong@matocreative.vn


 */
/*
VARIABLES
 */
/*
FONT SETTINGS
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,900&subset=vietnamese");
h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.875em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.3em; }

p {
  font-size: 1em; }

body {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4 {
  font-weight: 900; }

/*
MAIN SETUP
 */
* {
  -webkit-overflow-scrolling: touch; }

body, html {
  width: 100%;
  height: 100%; }

/*
========== HEADER ==========
 */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001; }
  header .navbar.navbar-default {
    background-color: transparent;
    border-color: transparent; }
    header .navbar.navbar-default a {
      color: #fff;
      font-size: 1.5em; }
  header .navbar .navbar-header a.navbar-brand img {
    width: 100px;
    margin-top: -10px; }
  header .navbar .navbar-collapse {
    padding-top: 30px;
    padding-bottom: 15px; }
  header .background {
    width: 100%;
    height: 0;
    background: #ef4625;
    background: -moz-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ef4625), color-stop(100%, #f2ab1e));
    background: -webkit-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: -o-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: -ms-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: linear-gradient(135deg, #ef4625 0%, #f2ab1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4625', endColorstr='#f2ab1e', GradientType=1 );
    position: absolute;
    top: 0;
    left: 0; }

/*
========== BODY ==========
 */
.main-content section.cover {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1514923995763-768e52f5af87?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1195040aa03e0b3d6d72c3b3cfda7660&auto=format&fit=crop&w=1867&q=80");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }
  .main-content section.cover .overlay {
    width: 100%;
    height: 100%;
    background: #ef4625;
    background: -moz-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ef4625), color-stop(100%, #f2ab1e));
    background: -webkit-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: -o-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: -ms-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: linear-gradient(135deg, #ef4625 0%, #f2ab1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4625', endColorstr='#f2ab1e', GradientType=1 );
    /* Set Background */
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 990; }
  .main-content section.cover .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff; }
    .main-content section.cover .intro h1 {
      font-size: 4em;
      letter-spacing: 10px;
      text-transform: uppercase;
      line-height: 1.3; }
    .main-content section.cover .intro .underline {
      width: 110px;
      height: 10px;
      background: #fff;
      margin-top: 40px; }
    .main-content section.cover .intro .btn {
      margin-top: 50px;
      background-color: #fff;
      color: #EF4825;
      border: none;
      padding: 10px 15px;
      font-size: 1.25em;
      text-transform: uppercase; }
  .main-content section.cover .mask {
    widows: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998; }
    .main-content section.cover .mask img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
.main-content section.content {
  padding-top: 100px;
  padding-bottom: 50px; }
  .main-content section.content > .container {
    margin-top: 100px;
    margin-bottom: 100px; }
  .main-content section.content .starter .row .item .mask {
    width: 100%;
    height: 500px;
    overflow: hidden; }
    .main-content section.content .starter .row .item .mask img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .main-content section.content .starter .row .item:last-of-type {
    position: relative; }
    .main-content section.content .starter .row .item:last-of-type .starter-title {
      position: absolute;
      bottom: 100px;
      left: 80%; }
      .main-content section.content .starter .row .item:last-of-type .starter-title h1 {
        font-size: 3.75em;
        letter-spacing: 10px;
        text-transform: uppercase; }
      .main-content section.content .starter .row .item:last-of-type .starter-title .underline {
        width: 110px;
        height: 10px;
        margin-top: 40px; }
  .main-content section.content .intro .row .image .mask {
    width: 100%;
    overflow: hidden; }
    .main-content section.content .intro .row .image .mask img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .main-content section.content .intro .row .text h3 {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 15px;
    line-height: 2em;
    color: #666; }
  .main-content section.content .break {
    width: 100%;
    height: 500px;
    position: relative;
    padding-left: 0;
    padding-right: 0; }
    .main-content section.content .break .wrapper {
      width: 100%;
      height: 100%; }
      .main-content section.content .break .wrapper .container .row .left {
        padding-top: 30px;
        color: #fff; }
        .main-content section.content .break .wrapper .container .row .left h3 {
          margin-bottom: 70px; }
        .main-content section.content .break .wrapper .container .row .left p {
          margin-bottom: 40px; }
        .main-content section.content .break .wrapper .container .row .left .underline {
          width: 110px;
          height: 10px;
          background: #fff; }
      .main-content section.content .break .wrapper .container .row .right .carousel-inner {
        position: relative;
        width: 100%;
        min-height: 300px; }
        .main-content section.content .break .wrapper .container .row .right .carousel-inner .item {
          width: 250px;
          height: 250px;
          overflow: hidden;
          margin: 0 auto;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
          .main-content section.content .break .wrapper .container .row .right .carousel-inner .item img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
      .main-content section.content .break .wrapper .container .row .right .carousel-control.right {
        right: 0;
        left: auto;
        background-image: none !important;
        background-repeat: repeat-x; }
      .main-content section.content .break .wrapper .container .row .right .carousel-control.left {
        left: 0;
        right: auto;
        background-image: none !important;
        background-repeat: repeat-x; }
      .main-content section.content .break .wrapper .container .row .right #carousel-example-generic {
        margin: 20px auto;
        width: 100%; }
      .main-content section.content .break .wrapper .container .row .right .carousel-custom {
        margin: 20px auto;
        width: 400px; }
        .main-content section.content .break .wrapper .container .row .right .carousel-custom .carousel-indicators {
          margin: 10px 0 0;
          overflow: auto;
          position: static;
          text-align: left;
          white-space: nowrap;
          width: 100%;
          overflow: hidden; }
          .main-content section.content .break .wrapper .container .row .right .carousel-custom .carousel-indicators li {
            background-color: transparent;
            -webkit-border-radius: 0;
            border-radius: 0;
            display: inline-block;
            height: auto;
            margin: 0 !important;
            width: auto; }
            .main-content section.content .break .wrapper .container .row .right .carousel-custom .carousel-indicators li img {
              display: block;
              opacity: 0.5; }
            .main-content section.content .break .wrapper .container .row .right .carousel-custom .carousel-indicators li.active img {
              opacity: 1; }
            .main-content section.content .break .wrapper .container .row .right .carousel-custom .carousel-indicators li:hover img {
              opacity: 0.75; }
        .main-content section.content .break .wrapper .container .row .right .carousel-custom .carousel-outer {
          position: relative; }
      .main-content section.content .break .wrapper .container .row .right .carousel-indicators li img {
        height: 66px;
        width: 52px; }
  .main-content section.content .info .heading {
    display: block; }
    .main-content section.content .info .heading .sub-title {
      font-size: 1em;
      color: #999;
      text-transform: uppercase; }
    .main-content section.content .info .heading .underline {
      width: 110px;
      height: 10px;
      margin-top: 40px; }
  .main-content section.content .info .row {
    margin-top: 50px; }
    .main-content section.content .info .row .item .icon {
      width: 130px;
      height: 130px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-position: center center;
      background-size: cover;
      position: relative; }
      .main-content section.content .info .row .item .icon .wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        opacity: 0.8; }
      .main-content section.content .info .row .item .icon img {
        width: 65px;
        height: 65px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .main-content section.content .info .row .item .title {
      margin-top: 30px;
      margin-bottom: 15px;
      text-transform: uppercase;
      height: 3em; }
    .main-content section.content .info .row .item .text {
      color: #666;
      height: 4em; }
    .main-content section.content .info .row .step .inner {
      width: 80%;
      margin-left: 10%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      color: #fff; }
      .main-content section.content .info .row .step .inner img {
        width: 50px; }
      .main-content section.content .info .row .step .inner h4 {
        font-weight: 400; }
  .main-content section.content .info .advanced {
    padding: 50px 16.66%; }
    .main-content section.content .info .advanced .media {
      color: #fff; }
      .main-content section.content .info .advanced .media .media-left img {
        width: 75px; }
  .main-content section.content#brand .starter .row .item:last-of-type .starter-title h1 {
    color: #EF4825; }
  .main-content section.content#brand .starter .row .item:last-of-type .starter-title .underline {
    background: #EF4825; }
  .main-content section.content#brand .intro .row .image .mask {
    height: 500px; }
  .main-content section.content#brand .break {
    background-image: url("https://images.unsplash.com/photo-1507650331828-88adf37b6efd?ixlib=rb-0.3.5&s=7f3b773f5604d7a546016ff1dc137335&auto=format&fit=crop&w=1567&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; }
    .main-content section.content#brand .break .wrapper {
      background: #ef4625;
      background: -moz-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, #ef4625), color-stop(100%, #f2ab1e));
      background: -webkit-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
      background: -o-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
      background: -ms-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
      background: linear-gradient(135deg, #ef4625 0%, #f2ab1e 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4625', endColorstr='#f2ab1e', GradientType=1 );
      opacity: 0.8; }
  .main-content section.content#brand .info .heading h2 {
    color: #EF4825; }
  .main-content section.content#brand .info .heading .underline {
    background: #EF4825; }
  .main-content section.content#brand .info .row .item .icon {
    background-image: url("https://images.unsplash.com/photo-1492107376256-4026437926cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1499ebb3d49c526949432a26b6499d37&auto=format&fit=crop&w=668&q=80"); }
    .main-content section.content#brand .info .row .item .icon .wrapper {
      background: #ef4625;
      background: -moz-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, #ef4625), color-stop(100%, #f2ab1e));
      background: -webkit-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
      background: -o-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
      background: -ms-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
      background: linear-gradient(135deg, #ef4625 0%, #f2ab1e 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4625', endColorstr='#f2ab1e', GradientType=1 );
      opacity: 0.8; }
  .main-content section.content#brand .info .row .item .title {
    color: #EF4825; }
  .main-content section.content#brand .info .row .step .inner {
    padding-top: 30px;
    background: #ef4625;
    background: -moz-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ef4625), color-stop(100%, #f2ab1e));
    background: -webkit-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: -o-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: -ms-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: linear-gradient(135deg, #ef4625 0%, #f2ab1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4625', endColorstr='#f2ab1e', GradientType=1 ); }
  .main-content section.content#brand .info .advanced {
    background: #ef4625;
    background: -moz-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ef4625), color-stop(100%, #f2ab1e));
    background: -webkit-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: -o-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: -ms-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: linear-gradient(135deg, #ef4625 0%, #f2ab1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4625', endColorstr='#f2ab1e', GradientType=1 ); }
    .main-content section.content#brand .info .advanced .media {
      color: #fff; }
      .main-content section.content#brand .info .advanced .media .media-left img {
        width: 75px; }
  .main-content section.content#publisher .starter .row .item:last-of-type .starter-title h1 {
    color: #54e9bf; }
  .main-content section.content#publisher .starter .row .item:last-of-type .starter-title .underline {
    background: #54e9bf; }
  .main-content section.content#publisher .intro .row .image .mask {
    height: 400px; }
    .main-content section.content#publisher .intro .row .image .mask:first-of-type {
      position: relative; }
    .main-content section.content#publisher .intro .row .image .mask:last-of-type {
      width: calc(100% - 30px);
      position: absolute;
      top: 30px;
      left: 100%; }
  .main-content section.content#publisher .intro .row .text h3 {
    color: #54e9bf; }
  .main-content section.content#publisher .intro .row .text ul {
    padding-left: 20%;
    padding-right: 50px; }
    .main-content section.content#publisher .intro .row .text ul li {
      font-size: 1.5em;
      margin-bottom: 15px; }
  .main-content section.content#publisher .break {
    background-image: url("https://images.unsplash.com/photo-1517362467300-499a95b6d6ff?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=76e0af65019b752b4795f4e2ba2d3f95&auto=format&fit=crop&w=1632&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; }
    .main-content section.content#publisher .break .wrapper {
      background: #54e9bf;
      background: -moz-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, #54e9bf), color-stop(100%, #d6faf0));
      background: -webkit-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
      background: -o-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
      background: -ms-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
      background: linear-gradient(135deg, #54e9bf 0%, #d6faf0 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54e9bf', endColorstr='#d6faf0', GradientType=1 );
      opacity: 0.95; }
      .main-content section.content#publisher .break .wrapper .container .row .left h3 {
        color: #333; }
      .main-content section.content#publisher .break .wrapper .container .row .left p {
        color: #333; }
      .main-content section.content#publisher .break .wrapper .container .row .left .underline {
        background-color: #333; }
  .main-content section.content#publisher .info .heading h2 {
    color: #54e9bf; }
  .main-content section.content#publisher .info .heading .underline {
    background: #54e9bf; }
  .main-content section.content#publisher .info .row .item {
    margin-bottom: 30px; }
    .main-content section.content#publisher .info .row .item .icon {
      background-image: url("https://images.unsplash.com/photo-1492107376256-4026437926cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1499ebb3d49c526949432a26b6499d37&auto=format&fit=crop&w=668&q=80"); }
      .main-content section.content#publisher .info .row .item .icon .wrapper {
        background: #54e9bf;
        background: -moz-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, #54e9bf), color-stop(100%, #d6faf0));
        background: -webkit-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
        background: -o-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
        background: -ms-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
        background: linear-gradient(135deg, #54e9bf 0%, #d6faf0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54e9bf', endColorstr='#d6faf0', GradientType=1 );
        opacity: 0.8; }
    .main-content section.content#publisher .info .row .item .title {
      color: #54e9bf; }
  .main-content section.content#publisher .info .row .step .inner {
    width: 70%;
    margin-left: 15%;
    padding-top: 70px;
    background: #54e9bf;
    background: -moz-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #54e9bf), color-stop(100%, #d6faf0));
    background: -webkit-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
    background: -o-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
    background: -ms-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
    background: linear-gradient(135deg, #54e9bf 0%, #d6faf0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54e9bf', endColorstr='#d6faf0', GradientType=1 ); }
  .main-content section.content#publisher .info .advanced {
    background: #54e9bf;
    background: -moz-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #54e9bf), color-stop(100%, #d6faf0));
    background: -webkit-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
    background: -o-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
    background: -ms-linear-gradient(-45deg, #54e9bf 0%, #d6faf0 100%);
    background: linear-gradient(135deg, #54e9bf 0%, #d6faf0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54e9bf', endColorstr='#d6faf0', GradientType=1 ); }
    .main-content section.content#publisher .info .advanced .media {
      color: #fff; }
      .main-content section.content#publisher .info .advanced .media .media-left img {
        width: 75px; }
  .main-content section.content#about .container-fluid .row .text {
    background: #ef4625;
    background: -moz-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ef4625), color-stop(100%, #f2ab1e));
    background: -webkit-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: -o-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: -ms-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
    background: linear-gradient(135deg, #ef4625 0%, #f2ab1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4625', endColorstr='#f2ab1e', GradientType=1 );
    position: relative;
    padding: 150px 100px; }
    .main-content section.content#about .container-fluid .row .text .starter-title h1 {
      font-size: 3em;
      letter-spacing: 10px;
      line-height: 1.5;
      text-transform: uppercase;
      color: #fff; }
    .main-content section.content#about .container-fluid .row .text .starter-title p {
      font-size: 1.25em;
      color: #fff;
      margin-top: 40px; }
    .main-content section.content#about .container-fluid .row .text .starter-title .underline {
      width: 110px;
      height: 10px;
      background-color: #fff;
      margin-top: 40px; }
    .main-content section.content#about .container-fluid .row .text .image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 100%; }
  .main-content section.content#partners {
    padding-top: 30px;
    padding-bottom: 50px; }
    .main-content section.content#partners .heading {
      display: block;
      margin-bottom: 50px; }
      .main-content section.content#partners .heading .sub-title {
        font-size: 1em;
        color: #666;
        text-transform: uppercase; }
      .main-content section.content#partners .heading h2 {
        color: #EF4825; }
      .main-content section.content#partners .heading .underline {
        width: 110px;
        height: 10px;
        margin-top: 40px;
        background-color: #EF4825; }
    .main-content section.content#partners .row .item {
      margin-top: 15px;
      margin-bottom: 15px; }
      .main-content section.content#partners .row .item .inner {
        width: 100%;
        border: 2px solid #EF4825;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        position: relative; }
        .main-content section.content#partners .row .item .inner img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
.main-content #contact {
  padding-top: 100px;
  padding-bottom: 50px;
  background: #ef4625;
  background: -moz-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ef4625), color-stop(100%, #f2ab1e));
  background: -webkit-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
  background: -o-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
  background: -ms-linear-gradient(-45deg, #ef4625 0%, #f2ab1e 100%);
  background: linear-gradient(135deg, #ef4625 0%, #f2ab1e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4625', endColorstr='#f2ab1e', GradientType=1 ); }
  .main-content #contact .heading {
    display: block;
    margin-bottom: 50px; }
    .main-content #contact .heading .sub-title {
      font-size: 1em;
      color: #fff;
      text-transform: uppercase; }
    .main-content #contact .heading h1 {
      color: #fff;
      text-transform: uppercase; }
    .main-content #contact .heading .underline {
      width: 110px;
      height: 10px;
      margin-top: 40px;
      background-color: #fff; }
  .main-content #contact table {
    color: #fff; }
    .main-content #contact table tr td {
      border-bottom: 1px solid #fff;
      border-top: 1px solid #fff;
      vertical-align: middle; }
      .main-content #contact table tr td a {
        text-decoration: none;
        color: #fff; }

/*
========== FOOTER ==========
 */
/*
IMPORT STYLES
 */
/*
MAIN RESPONSIVE STYLE OF SITE

AUTHOR: hung.luong@matocreative.vn

CONTENT:

1/MOBILE
2/TABLET
3/DESKTOP

 */
/*
========== MOBILE ==========
 */
@media (max-width: 576px) {
  header .navbar-header button {
    margin-top: 30px; }
    header .navbar-header button span.icon-bar {
      background-color: #fff !important; }

  .main-content section.cover .intro {
    left: 10%; }
    .main-content section.cover .intro h1 {
      font-size: 3.5em; }
    .main-content section.cover .intro .btn {
      font-size: 1.125em; }
  .main-content section.content {
    padding-top: 25px;
    padding-bottom: 25px; }
    .main-content section.content .starter .row .item .mask {
      height: 300px; }
    .main-content section.content .starter .row .item:last-of-type .starter-title {
      left: 50%; }
      .main-content section.content .starter .row .item:last-of-type .starter-title h1 {
        letter-spacing: 5px; }
    .main-content section.content .intro .row {
      display: flex;
      flex-direction: column; }
      .main-content section.content .intro .row .text h3 {
        padding-left: 10%;
        padding-right: 10%; }
      .main-content section.content .intro .row .text {
        order: 2; }
      .main-content section.content .intro .row .image {
        order: 1; }
    .main-content section.content .break {
      height: 700px; }
      .main-content section.content .break .wrapper {
        width: 100%; }
        .main-content section.content .break .wrapper .container .row .right .carousel-outer {
          width: auto;
          height: 250px;
          padding: 20px; }
          .main-content section.content .break .wrapper .container .row .right .carousel-outer .carousel-inner {
            position: relative;
            width: 100%;
            height: 150px;
            padding: 0px 10%; }
            .main-content section.content .break .wrapper .container .row .right .carousel-outer .carousel-inner .item {
              padding-top: 0px;
              width: 200px;
              height: 200px; }
        .main-content section.content .break .wrapper .container .row .right .carousel-custom {
          width: 100%; }
          .main-content section.content .break .wrapper .container .row .right .carousel-custom .carousel-indicators {
            text-align: center; }
          .main-content section.content .break .wrapper .container .row .right .carousel-custom .carousel-outer {
            position: relative; }
        .main-content section.content .break .wrapper .container .row .right .carousel-indicators li img {
          height: 48px;
          width: 37px; }
    .main-content section.content .info {
      margin-bottom: 50px;
      margin-top: 50px; }
      .main-content section.content .info .heading .underline {
        margin-top: 20px; }
      .main-content section.content .info .row {
        margin-top: 30px; }
        .main-content section.content .info .row .item {
          height: 310px; }
          .main-content section.content .info .row .item .title {
            margin-top: 15px; }
          .main-content section.content .info .row .item .text {
            height: 4em; }
        .main-content section.content .info .row .step {
          margin-top: 30px; }
      .main-content section.content .info .advanced {
        padding: 50px 5%; }
    .main-content section.content#brand {
      padding-bottom: 25px; }
    .main-content section.content#publisher {
      padding-top: 10px; }
      .main-content section.content#publisher .starter {
        margin: 30px 0px; }
        .main-content section.content#publisher .starter .row .item:last-of-type .starter-title {
          left: 31%; }
          .main-content section.content#publisher .starter .row .item:last-of-type .starter-title h1 {
            font-size: 2.5em; }
          .main-content section.content#publisher .starter .row .item:last-of-type .starter-title .underline {
            margin-top: 25px; }
      .main-content section.content#publisher .intro .row .image {
        padding-top: 15px; }
      .main-content section.content#publisher .intro .row .text h3 {
        font-size: 1.3em; }
      .main-content section.content#publisher .break {
        height: 640px; }
        .main-content section.content#publisher .break .wrapper .container .row .left h3 {
          margin-bottom: 30px; }
        .main-content section.content#publisher .break .wrapper .container .row .left p {
          margin-bottom: 20px; }
      .main-content section.content#publisher .info {
        margin-top: 50px; }
        .main-content section.content#publisher .info .row .item {
          margin-bottom: 30px; }
          .main-content section.content#publisher .info .row .item .title {
            height: 2em; }
        .main-content section.content#publisher .info .row .step .inner h3 {
          margin-top: 5px; }
        .main-content section.content#publisher .info .advanced .media {
          color: #fff; }
          .main-content section.content#publisher .info .advanced .media .media-left img {
            width: 75px; }
    .main-content section.content#about {
      padding-bottom: 10px; }
      .main-content section.content#about .container-fluid .row .text {
        padding: 20px;
        display: flex;
        flex-direction: column; }
        .main-content section.content#about .container-fluid .row .text .starter-title {
          width: 100%;
          order: 2; }
          .main-content section.content#about .container-fluid .row .text .starter-title h1 {
            font-size: 2.5em; }
          .main-content section.content#about .container-fluid .row .text .starter-title p {
            margin-top: 25px; }
        .main-content section.content#about .container-fluid .row .text .image {
          order: 1;
          width: 100%;
          height: 400px;
          margin-top: 50px;
          position: static; }
    .main-content section.content#partners {
      padding-top: 15px;
      padding-bottom: 20px; }
      .main-content section.content#partners .container {
        margin: 40px 0px; }
        .main-content section.content#partners .container .heading {
          margin-bottom: 20px; }
        .main-content section.content#partners .container .row .item .inner img {
          padding: 5px; } }
/*
========== TABLET ==========
 */
/*
========== SMALL DESKTOP ==========
 */

/*# sourceMappingURL=main.css.map */
