/*
MAIN RESPONSIVE STYLE OF SITE

AUTHOR: hung.luong@matocreative.vn

CONTENT:

1/MOBILE
2/TABLET
3/DESKTOP

 */

/*
========== MOBILE ==========
 */

@media (max-width: 576px) {

    header{
        .navbar-header{
            button{
                margin-top: 30px;

                span.icon-bar{
                    background-color: #fff !important;
                }
            }
        }
    }

    .main-content{
        section.cover{
            .intro{
                left: 10%;

                h1{
                    font-size: 3.5em;
                }

                .btn{
                    font-size: 1.125em;
                }
            }
        }

        section.content{
            padding-top: 50px;
            padding-bottom: 50px;

            .starter{
                .row{
                    .item{
                        .mask{
                            height: 300px;
                        }

                        &:last-of-type{
                            .starter-title{
                                left: 50%;

                                h1{
                                    letter-spacing: 5px;
                                }
                            }
                        }
                    }
                }
            }

            .intro{
                .row{
                    .text{
                        h3{
                            padding-left: 10%;
                            padding-right: 10%;
                        }
                    }
                }
            }
        }
    }

}

/*
========== TABLET ==========
 */

@media (min-width: 576px) and (max-width: 992px){

}

/*
========== SMALL DESKTOP ==========
 */

@media (min-width: 992px){

}